openapi: 3.0.3
info:
  title: Varity HTTP API
  description: >
    The public, agent-facing HTTP contract for Varity. AI agents, CLIs, and integrators
    call these endpoints to deploy a project, poll its status, stream deploy logs, update
    its environment variables, redeploy it in place, stop a deployment, and read live
    pricing. This is the same stable `/v1` contract the
    `varitykit` CLI and `@varity-labs/mcp` server use under the hood. Point your agent at
    it directly, or use the MCP server (see https://docs.varity.so/ai-tools/mcp-server-spec/).


    Most agents should prefer the MCP tools (`varity_deploy`, `varity_deploy_status`,
    `varity_deploy_logs`, `varity_delete_deployment`). They wrap this API and handle
    framework detection, auth, and result parsing. The raw HTTP API below is for direct
    integrations.


    Scope note: this spec documents only the endpoints intended for external/agent use.
    Internal control-plane routes (identity callbacks, billing, the deployment registry,
    telemetry ingest, and infrastructure plumbing) are intentionally not part of this
    public contract and may change without notice.
  version: 1.1.0
servers:
  - url: https://varity.app
    description: Production API (the Varity gateway)
tags:
  - name: Deploy
    description: Create, monitor, and stop deployments.
  - name: Pricing
    description: Read live, flat per-app pricing.
  - name: Service
    description: Service health.
paths:
  /v1/deploy:
    post:
      operationId: createDeploy
      tags: [Deploy]
      summary: Start a deploy
      description: >
        Deploy a project from a GitHub repo (`repo_url`) or a prebuilt Docker/OCI image
        (`image`). The framework, hosting mode (static vs dynamic), and any backend
        services your code needs (Postgres, Redis, MongoDB, MySQL, Ollama) are detected
        and configured automatically. Returns immediately with a `run_id`; poll
        `GET /v1/deploy/{run_id}` for status and stream `GET /v1/deploy/{run_id}/logs` for
        progress. Exactly one of `repo_url` or `image` must be supplied.
      security:
        - deployKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '202':
          description: Deploy run accepted and queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployAccepted'
        '400':
          description: Invalid request (neither or both of repo_url/image supplied, or a bad manifest).
        '401':
          description: Missing or invalid deploy key.
  /v1/deploy/{run_id}:
    get:
      operationId: getDeploy
      tags: [Deploy]
      summary: Get deploy status and result
      description: >
        Returns the current status of a deploy run and, once it reaches a terminal state,
        the result (live URL, deployment id, selected hardware, and, on failure, a
        redacted reason and failure stage).
      security:
        - deployKey: []
      parameters:
        - name: run_id
          in: path
          required: true
          description: The `run_id` returned by POST /v1/deploy.
          schema:
            type: string
      responses:
        '200':
          description: Current status and (when terminal) the result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployStatus'
        '401':
          description: Missing or invalid deploy key.
        '404':
          description: Unknown run_id.
  /v1/deploy/{run_id}/logs:
    get:
      operationId: getDeployLogs
      tags: [Deploy]
      summary: Stream deploy logs (Server-Sent Events)
      description: >
        Server-Sent Events stream of deploy progress (detect → build → bid → lease →
        health → done) for the run. Each event is a `data:` line; the stream terminates
        when the run reaches a terminal status. Note: this streams deploy-time progress,
        not the running container's runtime stdout/stderr.
      security:
        - deployKey: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: text/event-stream of log lines.
          content:
            text/event-stream:
              schema:
                type: string
                description: "SSE-framed log lines, each as a data: event."
        '401':
          description: Missing or invalid deploy key.
        '404':
          description: Unknown run_id.
  /v1/deployments/{subdomain}:
    delete:
      operationId: deleteDeployment
      tags: [Deploy]
      summary: Stop a deployment and its billing
      description: >
        Permanently stops the deployment identified by its app name (subdomain) and ends
        its billing. This frees the reserved hardware; the app stops serving immediately.
      security:
        - deployKey: []
      parameters:
        - name: subdomain
          in: path
          required: true
          description: The app name (the `{name}` in https://varity.app/{name}/).
          schema:
            type: string
            pattern: '^[a-z0-9-]{1,63}$'
      responses:
        '200':
          description: Deployment stopped.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  deleted: { type: boolean }
                  subdomain: { type: string }
                  appName: { type: string }
        '401':
          description: Missing or invalid deploy key.
        '403':
          description: The deploy key does not own this deployment.
        '404':
          description: Unknown deployment.
  /v1/deployments/{subdomain}/env:
    put:
      operationId: setDeploymentEnv
      tags: [Deploy]
      summary: Set environment variables and redeploy in place
      description: >
        Set or update environment variables on an existing deployment, then redeploy it in
        place. Same URL, same reserved hardware, no new bid. By default the supplied
        variables are merged over the current set; pass `replace: true` to overwrite the
        entire set. Values are write-only and are never returned. The change goes live in
        about a minute with no URL change.
      security:
        - deployKey: []
      parameters:
        - name: subdomain
          in: path
          required: true
          description: The app name (the `{name}` in https://varity.app/{name}/).
          schema:
            type: string
            pattern: '^[a-z0-9-]{1,63}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                envVars:
                  type: object
                  additionalProperties:
                    type: string
                  description: Environment variables to set, as a map of UPPER_SNAKE_CASE name to value.
                replace:
                  type: boolean
                  default: false
                  description: When true, replace the entire variable set instead of merging.
              required: [envVars]
      responses:
        '200':
          description: Variables applied; redeploy of the same deployment started.
        '400':
          description: Missing subdomain or an invalid env map.
        '401':
          description: Missing or invalid deploy key.
        '403':
          description: The deploy key does not own this deployment.
        '404':
          description: Unknown deployment.
  /v1/deployments/{subdomain}/redeploy:
    post:
      operationId: redeployDeployment
      tags: [Deploy]
      summary: Redeploy an existing deployment in place
      description: >
        Redeploy or restart an existing app in place. It re-pulls the image (or rebuilds
        from source) and restarts the container on the SAME deployment: same URL, same
        reserved hardware, no new bid. Takes no body and keeps the current environment
        variables; use PUT `/v1/deployments/{subdomain}/env` to change config at the same
        time. Goes live in about a minute with no URL change.
      security:
        - deployKey: []
      parameters:
        - name: subdomain
          in: path
          required: true
          description: The app name (the `{name}` in https://varity.app/{name}/).
          schema:
            type: string
            pattern: '^[a-z0-9-]{1,63}$'
      responses:
        '200':
          description: Redeploy of the same deployment started.
        '400':
          description: Missing subdomain.
        '401':
          description: Missing or invalid deploy key.
        '403':
          description: The deploy key does not own this deployment.
        '404':
          description: Unknown deployment.
  /api/pricing:
    get:
      operationId: getPricing
      tags: [Pricing]
      summary: Get live flat per-app pricing
      description: >
        Returns Varity's flat monthly price for a workload profile (or an existing app)
        plus a comparison against usage-metered hosts. Public. No authentication required.
        Pricing is a flat hardware reservation; it does not change with traffic, bandwidth,
        invocations, or build minutes.
      parameters:
        - name: profile
          in: query
          required: false
          description: A workload profile to price (e.g. `static`, `web`, `agent`, `gpu`).
          schema:
            type: string
        - name: subdomain
          in: query
          required: false
          description: Price an existing deployed app by name instead of a profile.
          schema:
            type: string
      responses:
        '200':
          description: Pricing for the requested profile or app.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
        '404':
          description: Unknown app/profile.
  /health:
    get:
      operationId: getHealth
      tags: [Service]
      summary: Service health
      description: Liveness check for the Varity API. Public. No authentication required.
      responses:
        '200':
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: healthy }
                  service: { type: string, example: varity-gateway }
                  version: { type: string }
components:
  securitySchemes:
    deployKey:
      type: http
      scheme: bearer
      description: >
        Your Varity deploy key, sent as `Authorization: Bearer <key>`. Obtain it by running
        `varitykit login` (the CLI stores it and sends it for you). Required on all `/v1`
        deploy endpoints.
  schemas:
    DeployRequest:
      type: object
      description: >
        The deploy manifest. Exactly one of `repo_url` or `image` is required. Resource
        fields (`port`, `cpu_units`, `memory_mb`, `storage_mb`) apply to the Docker/OCI
        image path; for repo builds, hosting and size are decided automatically.
      properties:
        app_name:
          type: string
          pattern: '^[a-z0-9-]{1,63}$'
          description: Deployment / subdomain name. Controls the URL https://varity.app/{app_name}/.
        source:
          type: string
          enum: [cli, portal, mcp, sandbox, staging]
          description: Which client originated the deploy (used for telemetry).
        repo_url:
          type: string
          description: GitHub https repo URL (alternative to a prebuilt `image`).
        commit:
          type: string
          maxLength: 64
          default: HEAD
          description: Commit/ref to build. SHA or simple ref.
        framework:
          type: string
          description: Optional framework override; auto-detected if omitted.
        hosting:
          type: string
          enum: [static, dynamic]
          description: Optional hosting-mode override; auto-decided if omitted.
        services:
          type: array
          items:
            type: string
            enum: [postgres, redis, ollama, mongodb, mysql, minio]
          description: >
            Backend services to attach. Normally inferred from your dependencies
            (e.g. `pg` → Postgres, `redis` → Redis); set explicitly to override.
        env_vars:
          type: object
          additionalProperties:
            type: string
          description: >
            Build/runtime environment variables. Values may reference auto-attached service
            env as ${KEY} (e.g. MONGO_URI=${MONGODB_URI}).
        package_manager:
          type: string
          enum: [npm, yarn, pnpm]
          description: Optional package manager for Node projects; auto-detected if omitted.
        python_start_command:
          type: string
          maxLength: 512
          description: Optional start command for Python apps; derived from the framework if omitted.
        image:
          type: string
          maxLength: 512
          description: >
            OCI image ref for a direct Docker-image deploy (alternative to `repo_url`).
            Bare Docker Hub refs are normalized (e.g. "nginx:alpine" →
            "docker.io/library/nginx:alpine").
        image_credentials:
          $ref: '#/components/schemas/ImageCredentials'
        port:
          type: integer
          minimum: 1
          maximum: 65535
          description: Container listen port for an image deploy (default 80).
        cpu_units:
          type: number
          minimum: 0.25
          maximum: 4
          description: Reserved CPU units, image/prebuilt paths only (default 0.5).
        memory_mb:
          type: integer
          minimum: 256
          maximum: 8192
          description: Reserved memory in MiB, image/prebuilt paths only (default 512).
        storage_mb:
          type: integer
          minimum: 512
          maximum: 20480
          description: Reserved storage in MiB, image/prebuilt paths only (default 1024).
      required: [app_name, source]
    ImageCredentials:
      type: object
      description: Pull credentials for a PRIVATE registry image. Omit for a public image.
      properties:
        host:
          type: string
          maxLength: 255
          description: Bare registry host, e.g. ghcr.io / docker.io.
        username:
          type: string
          maxLength: 255
        password:
          type: string
          description: Write-only; never returned or logged.
      required: [host, username, password]
    DeployAccepted:
      type: object
      properties:
        run_id:
          type: string
          description: Opaque id for polling status and streaming logs.
      required: [run_id]
    DeployStatus:
      type: object
      properties:
        run_id:
          type: string
        status:
          type: string
          enum: [queued, running, succeeded, failed]
        stage:
          type: string
          nullable: true
          enum: [detect, build, bid, lease, health, done, failed]
          description: Where the run is right now (progress). Null until the first stage-bearing log line.
        deployment_id:
          type: string
          nullable: true
          description: Stable deployment id once the app is live.
        frontend_url:
          type: string
          nullable: true
          description: Live URL of the deployed app.
        memory_mb:
          type: integer
          nullable: true
        error_message:
          type: string
          nullable: true
          description: Redacted, bounded reason the run failed; null on success.
        failure_stage:
          type: string
          nullable: true
          enum:
            - repo_access
            - framework_detection
            - build_execution
            - ipfs_upload
            - sdl_submission
            - bid_collection
            - lease_acceptance
            - container_health
            - gateway_registration
            - orchestration
      required: [run_id, status]
    Pricing:
      type: object
      description: >
        Live pricing for a profile or app. Field set is additive and may grow; the stable
        fields are `varityMonthly` (flat USD/month) and `varityIsFlat` (always true).
      properties:
        profile:
          type: string
          nullable: true
        subdomain:
          type: string
          nullable: true
        varityMonthly:
          type: number
          description: Flat monthly price in USD.
        varityIsFlat:
          type: boolean
          description: Always true. The bill does not change with usage.
        mode:
          type: string
          enum: [static, dynamic]
        competitors:
          type: array
          description: Usage-metered comparison points.
          items:
            type: object
            properties:
              id: { type: string }
              label: { type: string }
              atLaunch: { type: number }
              atTraction: { type: number }
