{
  "openapi": "3.1.0",
  "info": {
    "title": "Varity Public Platform API",
    "version": "2026-07-25",
    "description": "Gateway-owned resource API for deploying and operating Varity apps."
  },
  "servers": [
    {
      "url": "https://varity.app/api"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/deployment-profiles": {
      "get": {
        "operationId": "getDeploymentProfiles",
        "summary": "Get normalized deployment profiles",
        "description": "Returns customer-facing profiles, prices, and aggregate availability without exposing supplier identity or native inventory.",
        "parameters": [
          {
            "name": "workload",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "gpu",
                "cpu"
              ]
            }
          },
          {
            "name": "execution_class",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "container",
                "virtual_machine",
                "bare_metal",
                "cpu_virtual_machine"
              ]
            }
          },
          {
            "name": "contract_version",
            "in": "query",
            "required": false,
            "description": "Request the resource-, location-, runtime-, and access-complete GPU container catalog. Omit during a rolling v1 compatibility window.",
            "schema": {
              "const": "gpu-container-profiles-v2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized GPU deployment profile catalog",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GpuContainerProfileCatalogV1"
                    },
                    {
                      "$ref": "#/components/schemas/GpuContainerProfileCatalog"
                    },
                    {
                      "$ref": "#/components/schemas/MachineProfileCatalog"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/pricing/accelerator-quote": {
      "post": {
        "operationId": "issueAcceleratorQuote",
        "summary": "Issue an exact hourly accelerator quote for a GPU workload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PrepareGpuContainerQuoteRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateApplicationDeploymentRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceleratorQuote"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/pricing/machine-quote": {
      "post": {
        "operationId": "issueMachineQuote",
        "summary": "Issue an exact quote for a self-managed machine",
        "description": "Resolves the selected Varity profile and OS image against current normalized inventory and its exact customer price.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact owner-bound machine quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineQuote"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/machines": {
      "get": {
        "operationId": "listMachines",
        "summary": "List owner-scoped self-managed machines",
        "responses": {
          "200": {
            "description": "Normalized owner machine inventory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "machines"
                  ],
                  "properties": {
                    "machines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Machine"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "post": {
        "operationId": "createMachine",
        "summary": "Create a self-managed machine",
        "description": "Accepts a Varity profile, normalized OS image, and SSH public key. Supplier identity and native infrastructure identifiers are never public.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMachineRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Machine operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAcceptance"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/machines/{machine_id}/actions": {
      "post": {
        "operationId": "runMachineAction",
        "summary": "Run a bounded synchronous action on one machine",
        "description": "Restarts or soft-reboots the machine in place. Not a durable operation: the machine keeps its identity, access, and billing.",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed machine state after the action was applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineActionResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/machines/{machine_id}": {
      "get": {
        "operationId": "getMachine",
        "summary": "Get one owner-scoped self-managed machine",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized machine lifecycle, access, and billing truth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMachine",
        "summary": "Delete one owner-scoped self-managed machine",
        "description": "Acceptance is not closure proof. Allocation, SSH access, and billing closure reconcile independently.",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Machine deletion accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAcceptance"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployment-capabilities": {
      "get": {
        "operationId": "getDeploymentCapabilities",
        "summary": "Get the provider-neutral deployment catalog",
        "description": "Returns user-visible workload and execution choices with their current availability. Live inventory and implementation-specific identifiers are not part of this contract.",
        "responses": {
          "200": {
            "description": "Deployment capability catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentCapabilities"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments": {
      "get": {
        "operationId": "listDeployments",
        "summary": "List deployments",
        "responses": {
          "200": {
            "description": "Deployment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "post": {
        "operationId": "createDeployment",
        "summary": "Create a deployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Deployment accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedDeployment"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/runs/{run_id}": {
      "get": {
        "operationId": "getDeploymentRun",
        "summary": "Get deployment run status",
        "parameters": [
          {
            "$ref": "#/components/parameters/RunId"
          },
          {
            "name": "app",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment run status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentRunStatus"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}": {
      "get": {
        "operationId": "getDeployment",
        "summary": "Get a deployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deployment"
                  ],
                  "properties": {
                    "deployment": {
                      "$ref": "#/components/schemas/Deployment"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDeployment",
        "summary": "Delete a deployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status",
                    "deleted"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "const": "deleted"
                    },
                    "deleted": {
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Deletion accepted (durable path): route removal, compute close, and billing stop reconcile as distinct durable facts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status",
                    "deleted",
                    "run_id",
                    "status_url"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "app_name": {
                      "type": "string"
                    },
                    "subdomain": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "deleting",
                        "deleted"
                      ]
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "run_id": {
                      "type": "string"
                    },
                    "status_url": {
                      "type": "string"
                    },
                    "replayed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/domain": {
      "get": {
        "operationId": "getDeploymentDomain",
        "summary": "Read custom-domain state",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom-domain state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDomainEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "put": {
        "operationId": "attachDeploymentDomain",
        "summary": "Attach one hostname (subdomain CNAME or apex A + TXT)",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "examples": [
                      "app.example.com",
                      "example.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom domain attached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDomainEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "delete": {
        "operationId": "removeDeploymentDomain",
        "summary": "Remove the custom hostname",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom domain removed"
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/domain/verify": {
      "post": {
        "operationId": "verifyDeploymentDomain",
        "summary": "Observe DNS and verify HTTPS serving",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated custom-domain state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDomainEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/redeploy": {
      "post": {
        "operationId": "redeployDeployment",
        "summary": "Redeploy in place",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "202": {
            "description": "Redeploy accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedMutation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/restart": {
      "post": {
        "operationId": "restartDeployment",
        "summary": "Restart a deployment as a verified replacement",
        "description": "Provisions a fresh verified replacement from the saved deployment configuration: the current version keeps serving until the replacement passes health and routing checks, then traffic switches atomically. Deployments that cannot be reconstructed from saved configuration answer 409; where the platform cannot restart at all it answers 501.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "202": {
            "description": "Restart accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "run_id",
                    "status_url"
                  ],
                  "properties": {
                    "status": {
                      "const": "restarting"
                    },
                    "run_id": {
                      "type": "string"
                    },
                    "status_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/PublicError"
          },
          "501": {
            "$ref": "#/components/responses/PublicError"
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/logs": {
      "get": {
        "operationId": "listDeploymentLogs",
        "summary": "Read deployment logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          },
          {
            "name": "since_seq",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/events": {
      "get": {
        "operationId": "listDeploymentEvents",
        "summary": "Read deployment events",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/health-history": {
      "get": {
        "operationId": "readDeploymentHealthHistory",
        "summary": "Read durable runtime and route health history",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Durable health history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthHistory"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/deployments/{deployment_id}/env": {
      "get": {
        "operationId": "listDeploymentEnv",
        "summary": "List environment variable keys",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment variable keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvKeyList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "patch": {
        "operationId": "patchDeploymentEnv",
        "summary": "Update environment variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Update accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedMutation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List templates",
        "responses": {
          "200": {
            "description": "Template list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/templates/{template_id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get a template",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "template"
                  ],
                  "properties": {
                    "template": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/templates/{template_id}/deploy": {
      "post": {
        "operationId": "deployTemplate",
        "summary": "Deploy a template",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDeployRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Deployment accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedDeployment"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/pricing/estimate": {
      "get": {
        "operationId": "estimatePricing",
        "summary": "Estimate fixed monthly cost",
        "description": "Managed Cloud pricing is a fixed preset menu (starter, growth, scale, pro). Static sites are free.",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "web-app",
                "static-site",
                "web-app-db"
              ]
            }
          },
          {
            "name": "preset",
            "in": "query",
            "required": false,
            "description": "Managed Cloud preset id (starter, growth, scale, pro).",
            "schema": {
              "type": "string",
              "examples": [
                "starter",
                "growth",
                "scale",
                "pro"
              ]
            }
          },
          {
            "name": "cpu",
            "in": "query",
            "required": false,
            "deprecated": true,
            "description": "Deprecated: mapped to the smallest satisfying Managed Cloud preset. Use `preset` instead.",
            "schema": {
              "type": "number",
              "minimum": 0.25
            }
          },
          {
            "name": "memory_gb",
            "in": "query",
            "required": false,
            "deprecated": true,
            "description": "Deprecated: mapped to the smallest satisfying Managed Cloud preset. Use `preset` instead.",
            "schema": {
              "type": "number",
              "minimum": 0.25
            }
          },
          {
            "name": "ephemeral_gb",
            "in": "query",
            "required": false,
            "deprecated": true,
            "description": "Deprecated: mapped to the smallest satisfying Managed Cloud preset. Use `preset` instead.",
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "name": "persistent_gb",
            "in": "query",
            "required": false,
            "description": "Persistent NVMe add-on in GB, billed per GB-month on top of the preset monthly maximum.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "has_db",
            "in": "query",
            "required": false,
            "deprecated": true,
            "description": "Deprecated: accepted but ignored.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pricing estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingEstimate"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/credits": {
      "get": {
        "operationId": "getCredits",
        "summary": "Get credit and payment state",
        "responses": {
          "200": {
            "description": "Credit and payment state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditState"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "parameters": [
          {
            "name": "include_deliveries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created; signing_secret is shown once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedWebhook"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/webhooks/{webhook_id}": {
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "deleted"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "deleted": {
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "security": [
          {
            "PortalSession": []
          }
        ],
        "operationId": "listApiKeys",
        "summary": "List Cloud API keys in the Developer Portal",
        "description": "Returns deploy-capable Cloud keys, including legacy shared keys for compatibility. Inference-only keys and plaintext are excluded.",
        "responses": {
          "200": {
            "description": "API key metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "post": {
        "security": [
          {
            "PortalSession": []
          }
        ],
        "operationId": "createApiKey",
        "summary": "Create a Cloud API key in the Developer Portal",
        "description": "Creates a deploy-only key and requires an authenticated Developer Portal session with active deploy eligibility. The plaintext key is shown once.",
        "responses": {
          "200": {
            "description": "New API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedApiKey"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/api-keys/{key_id}": {
      "delete": {
        "security": [
          {
            "PortalSession": []
          }
        ],
        "operationId": "deleteApiKey",
        "summary": "Revoke an API key in the Developer Portal",
        "description": "Requires an authenticated Developer Portal session. Revocation is owner-scoped.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/api-keys/inference": {
      "get": {
        "security": [
          {
            "PortalSession": []
          }
        ],
        "operationId": "listInferenceApiKeys",
        "summary": "List AI Gateway keys in the Developer Portal",
        "description": "Returns only owner-scoped inference-only keys. Cloud deploy keys and legacy shared keys are excluded.",
        "responses": {
          "200": {
            "description": "AI Gateway key metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "post": {
        "security": [
          {
            "PortalSession": []
          }
        ],
        "operationId": "createInferenceApiKey",
        "summary": "Create a scoped AI Gateway key in the Developer Portal",
        "description": "Creates an inference-only key for the authenticated owner. The plaintext key is shown once; owner and authority fields are assigned server-side.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInferenceApiKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New scoped inference key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedInferenceApiKey"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/api-keys/audit": {
      "get": {
        "security": [
          {
            "PortalSession": []
          }
        ],
        "operationId": "listApiKeyAuditEvents",
        "summary": "List owner-scoped API key lifecycle events",
        "description": "Returns secret-free issuance, rotation, and revocation evidence for the authenticated owner.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key lifecycle events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyAuditList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/ai-gateway/attachments": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "PortalSession": []
          }
        ],
        "operationId": "listAiGatewayAttachments",
        "summary": "List Varity Cloud AI Gateway attachments",
        "description": "Returns owner-scoped, secret-free attachment state. Provider identities, credential values, vault references, and internal deployment-operation identifiers are never returned.",
        "responses": {
          "200": {
            "description": "AI Gateway attachment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGatewayAttachmentList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "PortalSession": []
          }
        ],
        "operationId": "attachAiGatewayToDeployment",
        "summary": "Attach the Varity AI Gateway to a Cloud deployment",
        "description": "Creates a deployment-bound inference workload credential, seals it in Varity custody, and injects only its opaque protected-input reference into the verified replacement deployment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAiGatewayAttachment"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Attachment accepted or converging",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGatewayAttachmentResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/ai-gateway/attachments/{attachment_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "PortalSession": []
          }
        ],
        "operationId": "getAiGatewayAttachment",
        "summary": "Get one Varity Cloud AI Gateway attachment",
        "parameters": [
          {
            "$ref": "#/components/parameters/AttachmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "AI Gateway attachment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGatewayAttachmentResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "PortalSession": []
          }
        ],
        "operationId": "detachAiGatewayFromDeployment",
        "summary": "Detach the Varity AI Gateway from a Cloud deployment",
        "description": "Replaces the deployment without the workload secret reference, then revokes the credential and confirms protected-input removal.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AttachmentId"
          },
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Detach accepted or converging",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGatewayAttachmentResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/ai-gateway/attachments/{attachment_id}/rotate": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "PortalSession": []
          }
        ],
        "operationId": "rotateAiGatewayAttachment",
        "summary": "Rotate a Cloud deployment AI Gateway credential",
        "description": "Preserves the attachment identity while replacing the protected workload credential and revoking the old credential after the replacement is proven.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AttachmentId"
          },
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Rotation accepted or converging",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGatewayAttachmentResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PublicError"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "security": [],
        "operationId": "getOpenApiDocument",
        "summary": "Get the public API contract",
        "responses": {
          "200": {
            "description": "OpenAPI document"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Varity API key"
      },
      "PortalSession": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Developer Portal session credential"
      }
    },
    "parameters": {
      "DeploymentId": {
        "name": "deployment_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TemplateId": {
        "name": "template_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "AttachmentId": {
        "name": "attachment_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^vai_[A-Za-z0-9_-]{20,64}$"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 160
        }
      },
      "RequiredIdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 160,
          "pattern": "^[A-Za-z0-9._:-]+$"
        }
      }
    },
    "responses": {
      "PublicError": {
        "description": "Public API error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PublicError"
            }
          }
        }
      }
    },
    "schemas": {
      "CreateGpuContainerRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "execution_class",
          "profile_id",
          "ssh_public_key",
          "accelerator_quote_token"
        ],
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          },
          "execution_class": {
            "const": "container"
          },
          "profile_id": {
            "type": "string",
            "pattern": "^gpo-[0-9a-f]{24}$"
          },
          "ssh_public_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "writeOnly": true,
            "description": "OpenSSH public key. Private key material is forbidden."
          },
          "accelerator_quote_token": {
            "type": "string",
            "minLength": 16,
            "maxLength": 8192,
            "writeOnly": true
          }
        }
      },
      "PrepareGpuContainerQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "execution_class",
          "profile_id"
        ],
        "properties": {
          "execution_class": {
            "const": "container"
          },
          "profile_id": {
            "type": "string",
            "pattern": "^gpo-[0-9a-f]{24}$"
          }
        }
      },
      "GpuContainerProfileCatalogV1": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "workload",
          "execution_class",
          "profiles"
        ],
        "properties": {
          "schema_version": {
            "const": "gpu-container-profiles-v1"
          },
          "workload": {
            "const": "gpu"
          },
          "execution_class": {
            "const": "container"
          },
          "profiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpuContainerProfileV1"
            }
          }
        }
      },
      "GpuContainerProfileV1": {
        "type": "object",
        "additionalProperties": false,
        "description": "Rolling-release compatibility profile. Request v2 before presenting this profile as deployable.",
        "required": [
          "id",
          "label",
          "execution_class",
          "accelerator",
          "hardware",
          "customer_price",
          "availability"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/GpuContainerProfile/properties/id"
          },
          "label": {
            "$ref": "#/components/schemas/GpuContainerProfile/properties/label"
          },
          "execution_class": {
            "const": "container"
          },
          "accelerator": {
            "$ref": "#/components/schemas/AcceleratorProfileSelection"
          },
          "hardware": {
            "$ref": "#/components/schemas/GpuContainerProfile/properties/hardware"
          },
          "customer_price": {
            "$ref": "#/components/schemas/GpuContainerProfile/properties/customer_price"
          },
          "availability": {
            "$ref": "#/components/schemas/GpuProfileAvailability"
          }
        }
      },
      "GpuContainerProfileCatalog": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "workload",
          "execution_class",
          "profiles"
        ],
        "properties": {
          "schema_version": {
            "const": "gpu-container-profiles-v2"
          },
          "workload": {
            "const": "gpu"
          },
          "execution_class": {
            "const": "container"
          },
          "profiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpuContainerProfile"
            }
          }
        }
      },
      "GpuContainerProfile": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "label",
          "execution_class",
          "accelerator",
          "hardware",
          "resources",
          "locations",
          "runtime",
          "access",
          "customer_price",
          "availability"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^gpo-[0-9a-f]{24}$"
          },
          "label": {
            "type": "string"
          },
          "execution_class": {
            "const": "container"
          },
          "accelerator": {
            "$ref": "#/components/schemas/AcceleratorProfileSelection"
          },
          "hardware": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "vendor",
              "model",
              "vram_mb",
              "interface",
              "count"
            ],
            "properties": {
              "vendor": {
                "const": "NVIDIA"
              },
              "model": {
                "type": "string"
              },
              "vram_mb": {
                "type": "integer"
              },
              "interface": {
                "type": "string",
                "enum": [
                  "pcie",
                  "sxm"
                ]
              },
              "count": {
                "type": "integer",
                "minimum": 1,
                "maximum": 24
              }
            }
          },
          "resources": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "cpu_units",
              "memory_mb",
              "storage_mb"
            ],
            "properties": {
              "cpu_units": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "memory_mb": {
                "type": "integer",
                "minimum": 1
              },
              "storage_mb": {
                "type": "integer",
                "minimum": 1
              }
            }
          },
          "locations": {
            "type": "array",
            "maxItems": 256,
            "uniqueItems": true,
            "description": "Current location availability for this exact offer. Final placement is reported after activation.",
            "items": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,63}$"
            }
          },
          "runtime": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "label",
              "provider_default"
            ],
            "properties": {
              "label": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "ports": {
                "type": "array",
                "maxItems": 64,
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]{0,4}/(?:tcp|udp)$"
                }
              },
              "startup_command": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "maxLength": 4096
              },
              "provider_default": {
                "const": true
              }
            }
          },
          "access": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "mode",
              "requires_public_key"
            ],
            "properties": {
              "mode": {
                "const": "ssh"
              },
              "requires_public_key": {
                "const": true
              }
            }
          },
          "customer_price": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "hourly_usd",
              "currency",
              "billing_period",
              "price_basis",
              "pricing_policy_version"
            ],
            "properties": {
              "hourly_usd": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "currency": {
                "const": "USD"
              },
              "billing_period": {
                "const": "hour"
              },
              "price_basis": {
                "const": "exact",
                "description": "The exact current customer price for this offer; a signed quote is required before create."
              },
              "pricing_policy_version": {
                "type": "string"
              }
            }
          },
          "availability": {
            "$ref": "#/components/schemas/GpuProfileAvailability"
          }
        }
      },
      "GpuProfileAvailability": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "matching_capacity_count",
          "aggregate_available_units",
          "source_age_seconds"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "available",
              "no_capacity",
              "temporarily_unavailable"
            ]
          },
          "matching_capacity_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "aggregate_available_units": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "source_age_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 86400
          }
        }
      },
      "AcceleratorRequest": {
        "$ref": "#/components/schemas/AcceleratorProfileSelection"
      },
      "AcceleratorProfileSelection": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "profile_id",
          "count",
          "alternatives"
        ],
        "description": "Required Public API selection. The opaque live offer and its normalized card hardware are revalidated before quote issuance and durable acceptance.",
        "properties": {
          "profile_id": {
            "type": "string",
            "pattern": "^gpo-[0-9a-f]{24}$"
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 24
          },
          "alternatives": {
            "$ref": "#/components/schemas/AcceleratorRequirement/properties/alternatives"
          }
        }
      },
      "AcceleratorRequirement": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "count",
          "alternatives"
        ],
        "description": "Normalized hardware facts embedded in one selected live card.",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 24
          },
          "alternatives": {
            "type": "array",
            "minItems": 1,
            "maxItems": 8,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "vendor",
                "model",
                "vram_mb"
              ],
              "properties": {
                "vendor": {
                  "type": "string",
                  "enum": [
                    "nvidia"
                  ]
                },
                "model": {
                  "type": "string",
                  "pattern": "^[a-z0-9][a-z0-9-]{0,63}$"
                },
                "vram_mb": {
                  "type": "integer",
                  "minimum": 1024,
                  "maximum": 262144,
                  "multipleOf": 1024
                },
                "interface": {
                  "type": "string",
                  "enum": [
                    "pcie",
                    "sxm"
                  ]
                }
              }
            }
          }
        }
      },
      "AcceleratorQuote": {
        "type": "object",
        "required": [
          "quote_token",
          "quote_reference",
          "resource_fingerprint",
          "hourly_usd",
          "authorization_usd",
          "valid_until"
        ],
        "properties": {
          "quote_token": {
            "type": "string",
            "description": "Signed client-carried bearer. Do not inspect or log it; pass it unchanged as accelerator_quote_token on create."
          },
          "quote_reference": {
            "type": "string"
          },
          "resource_fingerprint": {
            "type": "string"
          },
          "hourly_usd": {
            "type": "number"
          },
          "authorization_usd": {
            "type": "number"
          },
          "currency": {
            "const": "USD"
          },
          "billing_period": {
            "const": "hour"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time"
          },
          "pricing_policy_version": {
            "type": "string"
          },
          "availability": {
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "MachineQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "profile_id",
          "execution_class",
          "os_image"
        ],
        "properties": {
          "profile_id": {
            "type": "string",
            "pattern": "^mp-[0-9a-f]{24}$"
          },
          "execution_class": {
            "type": "string",
            "enum": [
              "virtual_machine",
              "bare_metal",
              "cpu_virtual_machine"
            ]
          },
          "os_image": {
            "type": "string",
            "pattern": "^os-[a-z0-9](?:[a-z0-9-]{0,42}[a-z0-9])?-[0-9a-f]{12}$"
          },
          "additional_storage_gb": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32768,
            "description": "Additional NVMe storage beyond the included boot disk. Only valid when execution_class is cpu_virtual_machine; omitting it means none."
          }
        }
      },
      "MachineQuote": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "quote_token",
          "quote_reference",
          "resource_fingerprint",
          "hourly_usd",
          "authorization_usd",
          "currency",
          "billing_period",
          "valid_until",
          "pricing_policy_version"
        ],
        "properties": {
          "quote_token": {
            "type": "string",
            "writeOnly": true
          },
          "quote_reference": {
            "type": "string"
          },
          "resource_fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "additional_storage_gb": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32768,
            "description": "Echoed additional NVMe storage priced into hourly_usd. Present exactly when the quote request carried additional_storage_gb."
          },
          "hourly_usd": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "authorization_usd": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "currency": {
            "const": "USD"
          },
          "billing_period": {
            "const": "hour"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time"
          },
          "pricing_policy_version": {
            "type": "string"
          }
        }
      },
      "MachineProfileCatalog": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "execution_class",
          "profiles"
        ],
        "properties": {
          "execution_class": {
            "type": "string",
            "enum": [
              "virtual_machine",
              "bare_metal",
              "cpu_virtual_machine"
            ]
          },
          "profiles": {
            "type": "array",
            "maxItems": 1024,
            "items": {
              "$ref": "#/components/schemas/MachineProfile"
            }
          }
        }
      },
      "MachineProfile": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "profile_id",
          "execution_class",
          "hardware",
          "region",
          "availability",
          "customer_price",
          "os_images"
        ],
        "properties": {
          "schema_version": {
            "const": "public-machine-profile-v1"
          },
          "profile_id": {
            "type": "string",
            "pattern": "^mp-[0-9a-f]{24}$"
          },
          "execution_class": {
            "type": "string",
            "enum": [
              "virtual_machine",
              "bare_metal",
              "cpu_virtual_machine"
            ]
          },
          "display_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256,
            "description": "Varity plan name. Present exactly when execution_class is cpu_virtual_machine."
          },
          "cpu_class": {
            "type": "string",
            "enum": [
              "dedicated",
              "shared"
            ],
            "description": "Present exactly when execution_class is cpu_virtual_machine."
          },
          "monthly_cap_microusd": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000000000000000,
            "description": "Hard monthly price cap for hourly billing. Present exactly when execution_class is cpu_virtual_machine."
          },
          "hardware": {
            "$ref": "#/components/schemas/MachineHardware"
          },
          "region": {
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9]*(?:-[a-z0-9]+){0,7}$"
          },
          "availability": {
            "type": "string",
            "enum": [
              "available",
              "temporarily_unavailable"
            ]
          },
          "customer_price": {
            "$ref": "#/components/schemas/MachineHourlyPrice"
          },
          "os_images": {
            "type": "array",
            "minItems": 1,
            "maxItems": 64,
            "items": {
              "$ref": "#/components/schemas/MachineOsImage"
            }
          }
        }
      },
      "MachineHardware": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "cpu_units",
          "memory_mb",
          "storage_mb"
        ],
        "properties": {
          "cpu_units": {
            "type": "integer",
            "minimum": 1,
            "maximum": 256
          },
          "memory_mb": {
            "type": "integer",
            "minimum": 1024,
            "maximum": 2097152
          },
          "storage_mb": {
            "type": "integer",
            "minimum": 10240,
            "maximum": 33554432
          },
          "accelerator": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MachineAccelerator"
              }
            ],
            "description": "Present exactly when execution_class is virtual_machine or bare_metal; absent for cpu_virtual_machine."
          }
        }
      },
      "MachineAccelerator": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "count",
          "alternatives"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 24
          },
          "alternatives": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "vendor",
                "model",
                "vram_mb"
              ],
              "properties": {
                "vendor": {
                  "const": "nvidia"
                },
                "model": {
                  "type": "string",
                  "pattern": "^[a-z0-9][a-z0-9-]{0,63}$"
                },
                "vram_mb": {
                  "type": "integer",
                  "minimum": 1024,
                  "maximum": 262144,
                  "multipleOf": 1024
                },
                "interface": {
                  "type": "string",
                  "enum": [
                    "pcie",
                    "sxm"
                  ]
                }
              }
            }
          }
        }
      },
      "MachineHourlyPrice": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "amount_microusd",
          "currency",
          "billing_period"
        ],
        "properties": {
          "amount_microusd": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000000000000000
          },
          "currency": {
            "const": "USD"
          },
          "billing_period": {
            "const": "hour"
          }
        }
      },
      "MachineOsImage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "label"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^os-[a-z0-9](?:[a-z0-9-]{0,42}[a-z0-9])?-[0-9a-f]{12}$"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          }
        }
      },
      "CreateMachineRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "profile_id",
          "execution_class",
          "os_image",
          "ssh_public_key",
          "accelerator_quote_token"
        ],
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          },
          "profile_id": {
            "type": "string",
            "pattern": "^mp-[0-9a-f]{24}$"
          },
          "execution_class": {
            "type": "string",
            "enum": [
              "virtual_machine",
              "bare_metal",
              "cpu_virtual_machine"
            ]
          },
          "os_image": {
            "type": "string",
            "pattern": "^os-[a-z0-9](?:[a-z0-9-]{0,42}[a-z0-9])?-[0-9a-f]{12}$"
          },
          "additional_storage_gb": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32768,
            "description": "Additional NVMe storage beyond the included boot disk. Only valid when execution_class is cpu_virtual_machine; omitting it means none."
          },
          "ssh_public_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "writeOnly": true
          },
          "accelerator_quote_token": {
            "type": "string",
            "minLength": 16,
            "maxLength": 4096,
            "writeOnly": true
          }
        }
      },
      "MachineAcceptance": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "replayed",
          "machine_id",
          "operation"
        ],
        "properties": {
          "replayed": {
            "type": "boolean"
          },
          "machine_id": {
            "type": "string",
            "format": "uuid"
          },
          "additional_storage_gb": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32768,
            "description": "Echoed additional NVMe storage. Present exactly when the create request carried additional_storage_gb."
          },
          "operation": {
            "$ref": "#/components/schemas/MachineLifecycle"
          }
        }
      },
      "MachineLifecycle": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "operation_id",
          "operation",
          "status",
          "stage",
          "accepted_at",
          "execution_deadline_at",
          "outcome",
          "cleanup_state",
          "support_reference"
        ],
        "properties": {
          "operation_id": {
            "type": "string",
            "format": "uuid"
          },
          "operation": {
            "type": "string",
            "enum": [
              "create_machine",
              "delete_deployment"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "stage": {
            "type": "string",
            "enum": [
              "accepted",
              "admission",
              "allocation",
              "health",
              "access",
              "route",
              "cleanup",
              "terminal"
            ]
          },
          "accepted_at": {
            "type": "string",
            "format": "date-time"
          },
          "execution_deadline_at": {
            "type": "string",
            "format": "date-time"
          },
          "outcome": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MachineOutcome"
              }
            ]
          },
          "cleanup_state": {
            "type": "string",
            "enum": [
              "not_required",
              "required",
              "running",
              "retrying",
              "complete"
            ]
          },
          "support_reference": {
            "type": "string"
          }
        }
      },
      "MachineOutcome": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "classification",
          "stage",
          "code",
          "action_code",
          "diagnostic_code",
          "terminal_at"
        ],
        "properties": {
          "classification": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "action_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "diagnostic_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "terminal_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Machine": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "machine_id",
          "name",
          "profile_id",
          "execution_class",
          "os_image",
          "hardware",
          "region",
          "lifecycle",
          "access",
          "billing"
        ],
        "properties": {
          "machine_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "profile_id": {
            "type": "string",
            "pattern": "^mp-[0-9a-f]{24}$"
          },
          "execution_class": {
            "type": "string",
            "enum": [
              "virtual_machine",
              "bare_metal",
              "cpu_virtual_machine"
            ]
          },
          "cpu_class": {
            "type": "string",
            "enum": [
              "dedicated",
              "shared"
            ],
            "description": "Only cpu_virtual_machine machines may carry a CPU family."
          },
          "os_image": {
            "type": "string",
            "pattern": "^os-[a-z0-9](?:[a-z0-9-]{0,42}[a-z0-9])?-[0-9a-f]{12}$"
          },
          "hardware": {
            "$ref": "#/components/schemas/MachineHardware"
          },
          "region": {
            "type": "string"
          },
          "lifecycle": {
            "$ref": "#/components/schemas/MachineLifecycle"
          },
          "access": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MachineSshAccess"
              }
            ]
          },
          "billing": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MachineBilling"
              }
            ]
          }
        }
      },
      "MachineSshAccess": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "protocol",
          "host",
          "port",
          "username"
        ],
        "properties": {
          "protocol": {
            "const": "ssh"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          },
          "username": {
            "type": "string",
            "pattern": "^[a-z_][a-z0-9_-]{0,31}$"
          }
        }
      },
      "MachineBilling": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "state",
          "customer_price",
          "observed_at"
        ],
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "active",
              "stopped"
            ]
          },
          "customer_price": {
            "$ref": "#/components/schemas/MachineHourlyPrice"
          },
          "monthly_cap_microusd": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000000000000000,
            "description": "Hard monthly price cap for hourly billing. Present exactly when the machine execution_class is cpu_virtual_machine."
          },
          "month_to_date": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MachineMonthToDate"
              }
            ],
            "description": "Month-to-date billed usage. May appear only when the machine execution_class is cpu_virtual_machine; null while the first billed hour is pending."
          },
          "observed_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MachineMonthToDate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "compute_microusd",
          "storage_microusd",
          "month_started_at"
        ],
        "properties": {
          "compute_microusd": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000000000000,
            "description": "Month-to-date compute charge, capped by monthly_cap_microusd."
          },
          "storage_microusd": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000000000000,
            "description": "Month-to-date additional-storage charge; not capped."
          },
          "month_started_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MachineActionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "restart",
              "soft_reboot"
            ]
          }
        }
      },
      "MachineActionResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "machine_id",
          "action",
          "machine_state",
          "observed_at"
        ],
        "properties": {
          "machine_id": {
            "type": "string",
            "format": "uuid"
          },
          "action": {
            "type": "string",
            "enum": [
              "restart",
              "soft_reboot"
            ]
          },
          "machine_state": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]{0,63}$"
          },
          "observed_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeploymentCapabilities": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "auto_detect",
          "workloads"
        ],
        "properties": {
          "schema_version": {
            "const": "deployment-capabilities-v1"
          },
          "auto_detect": {
            "$ref": "#/components/schemas/AutoDetectCapability"
          },
          "workloads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeploymentWorkloadCapability"
            }
          }
        }
      },
      "AutoDetectCapability": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "availability",
          "source_types",
          "recommendation_targets"
        ],
        "properties": {
          "availability": {
            "const": "available"
          },
          "source_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "repository"
              ]
            }
          },
          "recommendation_targets": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "static_site",
                "web_service"
              ]
            }
          }
        }
      },
      "DeploymentWorkloadCapability": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "fulfillment",
          "options"
        ],
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "static_site",
              "web_service",
              "gpu",
              "virtual_machine"
            ]
          },
          "fulfillment": {
            "type": "string",
            "enum": [
              "static",
              "dynamic_compute"
            ]
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeploymentExecutionOption"
            }
          }
        }
      },
      "DeploymentExecutionOption": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "execution_class",
          "management",
          "access_modes",
          "billing_cadence",
          "source_types",
          "required_inputs",
          "availability"
        ],
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "automatic",
              "static",
              "container",
              "virtual_machine",
              "bare_metal",
              "cpu_virtual_machine"
            ]
          },
          "execution_class": {
            "type": "string",
            "enum": [
              "automatic",
              "static",
              "container",
              "virtual_machine",
              "bare_metal",
              "cpu_virtual_machine"
            ]
          },
          "management": {
            "type": "string",
            "enum": [
              "managed",
              "self_managed"
            ]
          },
          "access_modes": {
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "public_http",
                "forwarded_ports",
                "ssh"
              ]
            }
          },
          "billing_cadence": {
            "type": "string",
            "enum": [
              "fixed_monthly",
              "hourly"
            ]
          },
          "source_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "repository",
                "image",
                "template",
                "os_image"
              ]
            }
          },
          "required_inputs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availability": {
            "type": "string",
            "enum": [
              "available",
              "temporarily_unavailable"
            ]
          }
        }
      },
      "PublicError": {
        "type": "object",
        "required": [
          "code",
          "message",
          "action",
          "retryable",
          "docs_url"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "docs_url": {
            "type": "string",
            "format": "uri"
          },
          "field": {
            "type": "string"
          },
          "correlation_id": {
            "type": "string"
          }
        }
      },
      "Deployment": {
        "type": "object",
        "required": [
          "id",
          "app_name",
          "subdomain",
          "status",
          "runtime",
          "public_url"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "app_name": {
            "type": "string"
          },
          "subdomain": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "deploying",
              "live",
              "failed",
              "deleting",
              "deleted",
              "unknown"
            ]
          },
          "runtime": {
            "type": "string",
            "enum": [
              "static",
              "dynamic"
            ]
          },
          "public_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "closure_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "$ref": "#/components/schemas/DeploymentSource"
          },
          "resource_profile": {
            "$ref": "#/components/schemas/ResourceProfile"
          },
          "access": {
            "$ref": "#/components/schemas/DeploymentAccess"
          },
          "billing": {
            "$ref": "#/components/schemas/DeploymentBilling"
          },
          "operation_deployment_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Durable deployment-operation identity (dashed UUID) when the app was deployed through the durable path; delete by this id for independently reconciled route/compute/billing teardown."
          }
        }
      },
      "CustomDomain": {
        "type": "object",
        "required": [
          "hostname",
          "state",
          "dns",
          "certificate",
          "serving",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "hostname": {
            "type": "string"
          },
          "recordType": {
            "type": "string",
            "enum": [
              "cname",
              "a"
            ],
            "description": "Absent means cname."
          },
          "recordName": {
            "type": "string",
            "description": "Registrar Host field relative to the zone: the bare label for a subdomain, @ for an apex."
          },
          "expectedCname": {
            "type": "string",
            "description": "Subdomain claims only."
          },
          "expectedA": {
            "type": "string",
            "description": "Apex claims only: the A record target."
          },
          "challenge": {
            "type": "object",
            "required": [
              "name",
              "value"
            ],
            "description": "Apex claims only: the mandatory TXT ownership proof.",
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "state": {
            "type": "string",
            "enum": [
              "pending_dns",
              "certificate_pending",
              "active",
              "error"
            ]
          },
          "dns": {
            "type": "object",
            "required": [
              "status"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "mismatch",
                  "verified",
                  "error"
                ]
              },
              "observedCnames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "observedA": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "observedTxt": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "checkedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "certificate": {
            "type": "object",
            "required": [
              "status"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "active",
                  "error"
                ]
              },
              "checkedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "serving": {
            "type": "object",
            "required": [
              "status"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "active",
                  "error"
                ]
              },
              "checkedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "dns_lookup_failed",
              "https_verification_failed"
            ]
          }
        }
      },
      "CustomDomainEnvelope": {
        "type": "object",
        "required": [
          "supported",
          "domain"
        ],
        "properties": {
          "supported": {
            "type": "boolean"
          },
          "domain": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CustomDomain"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "DeploymentSource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "repository",
              "image",
              "template",
              "unknown"
            ]
          },
          "template_id": {
            "type": "string"
          }
        }
      },
      "ResourceProfile": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "cpu_units": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.25,
            "maximum": 4
          },
          "memory_mb": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 256,
            "maximum": 8192
          },
          "storage_mb": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 512,
            "maximum": 20480
          },
          "persistent_storage_gb": {
            "type": [
              "integer",
              "null"
            ]
          },
          "attached_resources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "accelerator": {
            "$ref": "#/components/schemas/AcceleratorRequirement"
          }
        }
      },
      "DeploymentAccess": {
        "type": [
          "object",
          "null"
        ],
        "additionalProperties": false,
        "required": [
          "protocol",
          "host",
          "port",
          "username"
        ],
        "properties": {
          "protocol": {
            "const": "ssh"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          },
          "username": {
            "type": "string"
          }
        }
      },
      "DeploymentBilling": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "fixed_monthly_cost_usd": {
            "type": "number"
          },
          "fixed_monthly_usd": {
            "type": "number"
          },
          "accrued_this_month_usd": {
            "type": "number"
          },
          "billing_model": {
            "type": "string",
            "enum": [
              "fixed_monthly",
              "hourly_resource_reservation"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "active",
              "stopped"
            ]
          },
          "hourly_cost_usd": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "hourlyUsd": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "DeploymentList": {
        "type": "object",
        "required": [
          "deployments"
        ],
        "properties": {
          "deployments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deployment"
            }
          }
        }
      },
      "AcceptedDeployment": {
        "type": "object",
        "required": [
          "id",
          "app_name",
          "status",
          "runtime",
          "run_id",
          "status_url"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "app_name": {
            "type": "string"
          },
          "subdomain": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "const": "deploying"
          },
          "runtime": {
            "type": "string",
            "enum": [
              "static",
              "dynamic"
            ]
          },
          "public_url": {
            "type": "string",
            "format": "uri",
            "description": "Absent on the durable path: the URL is only projected after the canonical route is proven."
          },
          "run_id": {
            "type": "string"
          },
          "status_url": {
            "type": "string"
          },
          "deployment_id": {
            "type": "string"
          },
          "replayed": {
            "type": "boolean"
          }
        }
      },
      "AcceptedMutation": {
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "app_name": {
            "type": "string"
          },
          "subdomain": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "run_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "status_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeploymentRunStatus": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "accepted",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "stage": {
            "type": [
              "string",
              "null"
            ]
          },
          "frontendUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
[...]
